/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

/* main */
p {
  background-color: lightblue;
}


/* note */
.font {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.color {

}
